# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

useless\ files:brokenstuff:unfixed\ stuff/
tree.txt
tree.md
Please audit the Phase 3 implementation .md
main.md
ROADMAP.md
.claudeignore.md

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# claude and grapify
graphify-out/

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
.env.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts